@charset "utf-8";

.box_center {
display: -webkit-box;
-webkit-box-pack:center;
-webkit-box-align:center;
-webkit-box-orient: vertical;

display: -moz-box;
-moz-box-pack:center;
-moz-box-align:center;
-moz-box-orient: vertical;

display: box;
box-pack:center;
box-align:center;
box-orient: vertical;
}
